@page
@model Art.Pages.Artwork.IndexModel
@{
}

<div class="container">
    <div class="artwork">
        <div class="image">
            <div class="artwork"></div>
            <img src="https://placeimg.com/300/200/animals" alt="Placeholder">
        </div>
    </div>
</div>