@page
@model Art.Pages.Artwork.UploadModel
@{
}

<div class="container">
    <div class="">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username">
            <span class="input-group-text">Description</span>
            <input type="text" class="form-control" placeholder="Server" aria-label="Server">
        </div>
    </div>
</div>