@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="imageCollage">
    <div class="artwork">
        <div class="image">
            <div class="artwork_"></div>
            <img src="https://placeimg.com/300/200/animals" alt="Placeholder">
        </div>
    </div>
    <div class="artwork">
        <div class="image">
            <img src="https://placeimg.com/500/200/animals" alt="Placeholder">
        </div>
    </div>
    <div class="artwork">
        <div class="image">
            <img src="https://placeimg.com/200/200/animals" alt="Placeholder">
        </div>
    </div>
    <div class="artwork">
        <div class="image">
            <img src="https://placeimg.com/200/200/animals" alt="Placeholder">
        </div>
    </div>
    <div class="artwork">
        <div class="image">
            <img src="https://placeimg.com/400/200/animals" alt="Placeholder">
        </div>
    </div>
    <div class="artwork">
        <div class="image">
            <img src="https://placeimg.com/300/200/animals" alt="Placeholder">
        </div>
    </div>
    <div class="artwork">
        <div class="image">
            <img src="https://placeimg.com/200/200/animals" alt="Placeholder">
        </div>
    </div>
    <div class="artwork">
        <div class="image">
            <img src="https://placeimg.com/200/200/animals" alt="Placeholder">
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />