@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <section class="imageCollage">
        @for (int i = 0; i < 20; i++)
        {
            Random r = new Random();
            var w = (r.Next(10) * 10 + 200 + r.Next(100));
            <a href="/artwork/index" class="artwork">
                <div class="image">
                    <div class="artwork_"></div>
                    <img src="https://placeimg.com/@w/200/animals" alt="Placeholder">
                </div>
            </a>
        }
    </section>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />